body {
	background-color: rgb(230,230,230);
	margin-top: 15px;
}

label {
	margin-top: 5px; 
	margin-bottom: 5px;
}

hr {
	border-top: 2px solid rgb(200,200,200);
}

.well > hr {
    margin-bottom: auto;
    margin-top: 10px;
}
.date{
	color: blue;
}
.well > .btn {
	margin-top: 10px;
}
.fa-angle-double-up{
	font-size: 20px;
}
.cmtcollapse{
	height: 34px;
	margin-left: 5px;
	display: none;
}
.cmtcollapse:hover {
	background-color: rgb(200,200,200);
}
.cmtbox{
	margin-top: 5px;
}
.well {
	min-height: 0px !important;
}
#submit {
	margin-top: 5px;

}
#subject {
	width: 200px;
}
#boxContent{
	display: none;
}
#collapse{
	background-color: rgb(161, 230, 122);
	float: right;
	margin-top: 5px;
	width: 40px;
}
#collapse:hover {
	background-color: rgb(49, 187, 0);
}
#textContent {
	resize: vertical;
}
.commentarea{
	display: none;
}


.cmtmsg {
	padding-right: 20px;
	padding-left: 20px;	
}
.btndelete{
	float: right;
}
.title {
    font-family: Lobster, Monospace;
}

.para {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.time {
	color: rgb(100, 100, 100);
	font-size: 12px;
	font-family: Arial;
}
#notice{
	margin-top: 5px;
}
#imgbtnloading{
	width: 18px;
	height: 18px;
}