body {
	background-color: rgb(230,230,230);
	margin-top: 15px;
}

label {
	margin-top: 5px; 
	margin-bottom: 5px;
}
hr {
    border-top: 2px solid rgb(200,200,200);
}

.well {
	min-height: 0px !important;
}
#submit {
	margin-top: 5px;

}
#subject {
	width: 200px;
}
#boxContent{
	display: none;
}
#collapse{
	background-color: rgb(161, 230, 122);
	float: right;
	margin-top: 5px;
	width: 40px;
}
#textContent {
	resize: vertical;
}
.title {
    font-family: Lobster, Monospace;
}

.para {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 16px;
	margin-bottom: 20px;
}
.time {
	color: rgb(100, 100, 100);
	font-size: 12px;
	font-family: Arial;
}